@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/ZonaPro/ZonaPro-Regular.eot');
  src: local('Zona Pro Regular'), local('ZonaPro-Regular'),
  url('../fonts/ZonaPro/ZonaPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ZonaPro/ZonaPro-Regular.woff2') format('woff2'),
  url('../fonts/ZonaPro/ZonaPro-Regular.woff') format('woff'),
  url('../fonts/ZonaPro/ZonaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/ZonaPro/ZonaPro-Bold.eot');
  src: local('Zona Pro Bold'), local('ZonaPro-Bold'),
  url('../fonts/ZonaPro/ZonaPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ZonaPro/ZonaPro-Bold.woff2') format('woff2'),
  url('../fonts/ZonaPro/ZonaPro-Bold.woff') format('woff'),
  url('../fonts/ZonaPro/ZonaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/ZonaPro/ZonaPro-SemiBold.eot');
  src: local('Zona Pro SemiBold'), local('ZonaPro-SemiBold'),
  url('../fonts/ZonaPro/ZonaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ZonaPro/ZonaPro-SemiBold.woff2') format('woff2'),
  url('../fonts/ZonaPro/ZonaPro-SemiBold.woff') format('woff'),
  url('../fonts/ZonaPro/ZonaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/ZonaPro/ZonaPro-Light.eot');
  src: local('Zona Pro Light'), local('ZonaPro-Light'),
  url('../fonts/ZonaPro/ZonaPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ZonaPro/ZonaPro-Light.woff2') format('woff2'),
  url('../fonts/ZonaPro/ZonaPro-Light.woff') format('woff'),
  url('../fonts/ZonaPro/ZonaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
