.hero {
  background: #fff;

  .container {
    @media (min-width: 360px) {
      padding: 0 10px;
    }
    @media (min-width: 768px) {
      padding: 0 100px;
    }
    @media (min-width: 1024px) {
      padding: 0 120px;
    }
    @media (min-width: 1200px) {
      padding: 0 150px;
    }
    @media (min-width: 1350px) {
      padding: 0 180px;
    }
    @media (min-width: 1600px) {
      padding: 0 220px;
    }
    @media (min-width: 1800px) {
      padding: 0 270px;
    }

    .hero-inner {
      height: 80vh;
      display: flex;
      align-items: center;
      justify-self: center;
      justify-content: center;

      @media (min-width: 1440px) {
        justify-content: flex-start;
      }

      @media (min-width: 2440px) {
        justify-content: center;
      }

      .hero-inner-col {
        &.left {
          display: none;
        }

        &.right {
        }

        .hero-inner-title {
          z-index: 11;
          position: relative;

          h1 {
            margin: 0;
            font-weight: bold;
            @media (min-width: 1800px) {
              font-size: 28px;
            }
          }
        }

        .hero-inner-links {
          z-index: 11;
          position: relative;
          display: flex;
          flex-direction: column;

          .hero-inner-link-item {
            .hero-inner-link-item-padding {

              &:before {
                content: "";
                display: block;
                position: absolute;
                top: 28vh;
                bottom: 1vh;
                left: -30vh;
                right: -45vh;
              }
            }

            a,
            div {
              display: inline-block;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              color: black;
              transition: color 0.3s, -webkit-text-stroke 0.3s;
              //-webkit-text-stroke: 1px #000;

              &:hover {
                color: black;
                //-webkit-text-stroke: 1px transparent;
              }

              span {
                line-height: 1;
                font-weight: 700;
                text-shadow: none;
                font-size: 5.5vw;
                letter-spacing: -6px;
                @media (min-width: 1440px) {
                  line-height: 1.19;
                  letter-spacing: -4px;
                }
                @media (max-width: 1024px) {
                  font-size: 10vw;
                  text-align: center;
                }
                @media (max-width: 425px) {
                  font-size: 15vw;
                  text-align: center;
                  font-weight: 900;
                  letter-spacing: -2.5px;
                }
              }
            }

            &:first-child {
              a {
                padding-left: 0;
              }
            }

            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

.-shape {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50vw, 25vh);
  // Jelly blob
  &.jelly {
    width: 25vw;
    height: 25vw;
    margin: (-25vw / 2) 0 0 (-25vw / 2);

    border-radius: 50%;
    //background:#B095F7;
  }
}
